/* a minimalist set of CSS resets */

/* default to border-box */

@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

@font-face {font-family: "Pokemon"; src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); }
html {
  box-sizing: border-box;
  font-size: 40px;
    color: yellow;

}

*, *:before, *:after {
  box-sizing: inherit;
}


/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: "Pokemon",sans-serif;
  line-height: 1.5;
  background-image: url('https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/1644604.jpg?v=1650673476597');
  background-color: black;
  background-size: cover;                    
  background-repeat:   no-repeat;
  background-position: center center; 
}
h1{
  font-family: "Pokemon",sans-serif;
  color: yellow;
  font-size: 75px;
}
img {
  display: inline-block;
}

button{
  font-family: "Pokemon",sans-serif;
    font-size: 30px;

  padding: 15px;
  border-radius: 10px;
  border-width: thick;
  border-color: gold;
}
p1{
  background-color: gold;
  color: black;
  font-size:30px;
  border-radius: 10px;
  
}
.hidden {
  display: none;
}

progress {
  width: 500px;
  height: 40px;
  border-radius: 50px;
}

#gameButtonArea > button 
{
  width:200px;
  height:200px;
  border-radius: 50%;
  
  padding: 50px 50px;
  
  transform: translateY(-4px);
  
}
#button1 {
  background: url('https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/file-pokeball-png-0%20(4).png?v=1650650259167')
}
#button2 {
  background: url('https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/file-pokeball-png-0%20(4).png?v=1650650259167')
}
#button3 {
  background: url('https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/file-pokeball-png-0%20(4).png?v=1650650259167')
}
#button4 {
  background: url('https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/file-pokeball-png-0%20(4).png?v=1650650259167')
}
#button5 {
  background: url('https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/file-pokeball-png-0%20(4).png?v=1650650259167')
}
#button6 {
  background: url('https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/file-pokeball-png-0%20(4).png?v=1650650259167')
}
#button7 {
  background: url('https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/file-pokeball-png-0%20(4).png?v=1650650259167')
}
#button8 {
  background: url('https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/file-pokeball-png-0%20(4).png?v=1650650259167')
    
}

#button1:active, #button1.lit {
    background: url(https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/pokemon-pikachu-neon-i71936.jpg?v=1650687110834);
}

#button2:active, #button2.lit  {
    background: url(https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/Featured-Pokemon-Is-charmander-i.png?v=1650694121018);
}
#button3:active, #button3.lit {
    background: url(https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/Pokemon-Go-Squirtle-Spotlight-Ho.png?v=1650687940334);
}
#button5:active, #button5.lit {
  background: url(https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/41028.png?v=1650691592242);
}

#button6:active, #button6.lit {
    background: url(https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/pokemon-jigglypuff-0x200.png?v=1650695044018);
}
#button4:active, #button4.lit {
    background: url(https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/bulbasaur-terrarium.png?v=1650694116796);
}
#button7:active, #button7.lit {
    background: url(https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/eGd0IS.png?v=1650692741439);
}
#button8:active, #button8.lit {
  background: url(https://cdn.glitch.global/8a51aeb1-5312-4765-8445-5135d1f5fcdc/mew_minimalist_wallpaper_by_drag.png?v=1650692744620);
  
}
